{{ define "content" }}
    <div class="ts container">
        <div class="ts segment">
            <img class="ts huge centered image" src="/static/img/logo.png">
            <blockquote class="ts quote">
                <h3 class="ts center aligned header">
                    <div class="ts active inline small loader"></div> 
                    Now Loading ...
                    <br/>
                    <div class="sub header">你以爲網站好了嗎？距離網站完成還要 : <a class="sub header" id="time"></a></div>
                </h3>
            </blockquote>
        </div>
    </div>
{{ end }}
